@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> _signIn
@inject UserManager<IdentityUser> _manager

<ul class="navbar-nav">
@if (_signIn.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" title="Usuário boas vindas">Bem-Vindo @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-action="Sair" asp-controller="Usuarios">
            <button  type="button" class="btn btn-link text-dark">Sair</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Registrar" asp-controller="Registrar"> Registrar-se</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Entrar" asp-controller="Usuarios"> Entrar </a>
    </li>
}
</ul>
