@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> _signIn
@inject UserManager<Usuario> _manager

<ul class="navbar-nav">
@if (_signIn.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" title="Usuário boas vindas">Bem-Vindo @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Sair" asp-controller="Usuarios">Sair</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-action="Registrar" asp-controller="Usuarios"> Registrar-se</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" readonly asp-action="Entrar" asp-controller="Usuarios"> Entrar </a>
    </li>
}
</ul>
